
.content {
	background-color: #000;
	color: #fff;
	font-size: 30px;
	font-style: italic;
	height: 100%;
	padding: 20px;
	text-align: center;
}

 form {
	margin: 0 auto; 
	padding: 20px 0px;
 }

.error {
	min-height: 30px;
	padding: 8px 10px 0px 10px;
	font-size: 14px;
	color: red;
	font-style: italic;
	font-weight: 700;
}
.passContainer{
	display: inline-block;
	position: relative;
}
.eyeImg{
	cursor: pointer;
	position: absolute;
	height: 20px;
	top: 37%;
	right: 10px;
	opacity: 0.6;
}
.eyeImg:hover {
	opacity: 1;
}

.input, .inputErr, .inputDesable {
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
}

.input {
	border: solid 2px #38ea0c;
}
.inputErr {
	border:  2px solid #e90c0c;
}
.inputDesable {
	border: solid 2px #a6c99d;
}
.submitBtn:disabled{
	background: #ccc;
	color: #999;
	box-shadow: none;
}

.checkField {
	display: grid;
	grid-gap: 15px;
	justify-content: center;
	align-items: center;
	grid-template-rows: min-content;
	grid-template-columns: 20px max-content;
	grid-template-areas: 
	"check label";
	padding: 20px;
}
.labelCheck {
	grid-area: label;
	font-size: 20px;
	color: #fff;
}
.check {
	grid-area: check;
	height: 20px;
}

.captcha {
	display: grid;
	margin: 30px auto;
	padding: 10px;
	justify-content: center;
	grid-gap: 10px;
	grid-template-rows: 100px 30px 1fr 1fr ;
	grid-template-areas: 
		"captchaImg"
		"captchaInfo"
		"captchaInput"
		"refresh";
}

.captchaImg{
	grid-area: captchaImg;
	max-height: 100px;
	justify-self: center;
}
.captchaInfo {
	grid-area: captchaInfo;
}
.captchaInput {
	grid-area: captchaInput;
}
.refresh {
	grid-area: refresh;
	cursor: pointer;
	height: 50px;
	width: 50px;
	object-fit: cover;
	background: url(../../assets/images/refresh.png) no-repeat;
	background-size: 100%;
	justify-self: center;
	transition: all 0.8s ease 0s;
}
.refresh:active{
	transition: rotate 0.3s ease 0s;
	transform: rotate(-360deg);
}

.submitBtn{
	margin:20px auto;
  }

  @media (max-width: 450px) {
	.content {
		padding: 10px;
	}
	.form {
		padding: 0;
	}
	.form fieldset {
		margin: 0;
	}
	.checkField {
		padding: 0px 10px 10px 0px;
	}
	.submitBtn{
		margin: 15px 10px 5px;
	  }
}
