.contant {
	height: 100%;
	background-color: brown;
	text-align: center;
	color: black;
	font-size: 50px;
}
.input {
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 10px;
	width: 80%;
}
.label {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
span.label {
	text-align: left;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	font-style: italic;
}
.block1 {
	grid-area: block1;
	display: grid;
	grid-gap: 10px;
	padding: 20px;
	min-width: 80%;
	grid-template-columns: max-content 1fr;
	grid-template-rows: repeat(max-content);
	grid-template-areas: 
	"fullNameLbl fullName"
	"aboutMeLbl aboutMe"
	"jobDescriptionLbl jobDescription"
	" jobCheckLbl jobCheck"
	;
}
.fullNameLbl{
	grid-area: fullNameLbl;
}
.fullName{
	height: 30px;
	grid-area: fullName;
}
.aboutMeLbl{
	grid-area: aboutMeLbl;
}
.aboutMe{
	grid-area: aboutMe;
}
.jobDescriptionLbl{
	grid-area: jobDescriptionLbl;
}
.jobDescription{
	grid-area: jobDescription;
}
.jobCheckLbl{
	grid-area: jobCheckLbl;
}
.jobCheck{
	grid-area: jobCheck;
	width: 30px;
}

.block2 {
	grid-area: block2;
	display: grid;
	grid-gap: 10px;
	padding: 20px;
	min-width: 80%;
	grid-template-columns: max-content 1fr;
	grid-template-rows: repeat(min-content);
	grid-template-areas: 
	"facebookLbl facebook"
	"githubLbl github"
	"instagramLbl instagram"
	" mainLinkLbl mainLink"
	" twitterLbl twitter"
	" vkLbl vk"
	" websiteLbl website"
	" youtubeLbl youtube"
	;
}
.block3 {
	grid-area: block3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	padding: 20px;
	min-width: 80%;
	grid-template-areas:
	"imageBlock uploadContainer";
}
.imageBlock {
	grid-area: imageBlock;
	max-height: 400px;

}
.avatarImg {
	border-radius: 50%;
	height: 100%;
	width: auto;
	object-fit: cover;

}
.uploadContainer {
	grid-area: uploadContainer;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	outline: 2px dashed #5d5d5d;
	outline-offset: -12px;
	background-color: #e0f2f7;
	color: #1f3c44;
}
.uploadImg {
	width: 40%;
	user-select: none;
}
.uploadContainer div {
	position: relative;
	z-index: 10;
}
.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}
.fileInput:focus + .fileBtn {
	outline: 1px solid #0078d7;
	outline: -webkit-focus-ring-color auto 5px;
}
.fileBtn {
	padding: 3px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
.fileBtn:hover {
	text-decoration: underline;
}

.facebookLbl{
	grid-area: facebookLbl;
}
.facebook{
	grid-area: facebook;
	justify-self: start;
}
.githubLbl{
	grid-area: githubLbl;
}
.github{
	grid-area: github;
	justify-self: start;
}
.instagramLbl{
	grid-area: instagramLbl;
}
.instagram{
	grid-area: instagram;
	justify-self: start;
}
.mainLinkLbl{
	grid-area: mainLinkLbl;
}
.mainLink{
	grid-area: mainLink;
	justify-self: start;
}
.twitterLbl{
	grid-area: twitterLbl;
}
.twitter{
	grid-area: twitter;
	justify-self: start;
}
.vkLbl{
	grid-area: vkLbl;
}
.vk{
	grid-area: vk;
	justify-self: start;
}
.websiteLbl{
	grid-area: websiteLbl;
}
.website{
	grid-area: website;
	justify-self: start;
}
.youtubeLbl{
	grid-area: youtubeLbl;
}
.youtube{
	grid-area: youtube;
	justify-self: start;
}
.buttonsBlock{
	grid-area: buttons;
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	grid-template-columns: max-content max-content;
	grid-template-rows: 1fr;
	grid-template-areas: "editBtn submitBtn";
}
.editBtn{
	grid-area: editBtn;
}
.submitBtn{
	grid-area: submitBtn;
}
.errorBlock {
	grid-area: blockErr;
	text-align: left;
	font-size: 20px;
	font-style: italic;
	color: #fff;
	letter-spacing: 2px;
	border-radius: 10px;
	padding: 20px;
	min-width: 80%;
}

.form {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content min-content minmax(40px, min-content ) 1fr;
	grid-template-areas: 
			"block1"
			"block2"
			"block3"
			"blockErr"
			"buttons";
}
@media (max-width: 700px) {
	.block3 {
		grid-area: block3;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 10px;
		padding: 10px;
		min-width: 80%;
		grid-template-areas:
		"imageBlock"
		"uploadContainer"
		;
	}
	.uploadImg {
		width: 30%;
		user-select: none;
	}

}