.contant {
	height: 100%;
	padding: 10px;
	background-color: brown;
	text-align: center;
	color: black;
	font-size: 50px;
}
.blockTitle {
	font-size: 40px;
}
.input, .inputErr {
	box-sizing: border-box;
	resize: none;
	overflow: hidden;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 10px;
	width: 100%;
	height: 33px;
	line-height: 120%;
	transition: all 0.4s ease 0s;
}
.inputErr {
	outline: 1px solid  #e90c0c;
	outline-offset: -3px;
}
.input:focus {
	outline: 1px solid  #38ea0c;
	outline-offset: -3px;
}

.label {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
span.label {
	text-align: left;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	font-style: italic;
}
/** =================================================================== */
.block1 {
	grid-area: block1;
	display: grid;
	grid-gap: 20px;
	padding: 20px;
	min-width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(min-content);
	grid-template-areas: 
	"informblock1"
	"informblock2"
	"informblock3"
	"informblock4";
}
.informblock1, .informblock2, .informblock3, .informblock4{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 200px 1fr;
	grid-template-rows: min-content;
}
.informblock1{
	grid-area: informblock1;
	grid-template-areas: 
	"fullNameLbl fullName";
}
.fullNameLbl{
	grid-area: fullNameLbl;
}
.fullName{
	grid-area: fullName;
}
.informblock2{
	grid-area: informblock2;
	grid-template-areas: 
	"aboutMeLbl aboutMe";
}
.aboutMeLbl{
	grid-area: aboutMeLbl;
}
.aboutMe{
	grid-area: aboutMe;
}
.informblock3{
	grid-area: informblock3;
	grid-template-areas: 
	"jobDescriptionLbl jobDescription";
}
.jobDescriptionLbl{
	grid-area: jobDescriptionLbl;
}
.jobDescription{
	grid-area: jobDescription;
}
.informblock4{
	grid-area: informblock4;
	grid-template-areas: 
	"jobCheckLbl jobCheck";
}
.jobCheckLbl{
	grid-area: jobCheckLbl;
}
.jobCheck{
	grid-area: jobCheck;
	width: 30px;
}
/** =================================================================== */
.block2 {
	grid-area: block2;
	display: grid;
	grid-gap: 20px;
	padding: 20px;
	min-width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(min-content);
	grid-template-areas: 
	"contactblock1"
	"contactblock2"
	"contactblock3"
	"contactblock4"
	"contactblock5"
	"contactblock6"
	"contactblock7"
	"contactblock8";
}
.contactblock1,.contactblock2,.contactblock3,.contactblock4,
.contactblock5,.contactblock6,.contactblock7,.contactblock8 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 200px 1fr;
	grid-template-rows: min-content;
}
.contactblock1{
	grid-area: contactblock1;
	grid-template-areas: "facebookLbl facebook";
}
.facebookLbl{
	grid-area: facebookLbl;
}
.facebook{
	grid-area: facebook;
}
.contactblock2{
	grid-area: contactblock2;
	grid-template-areas: "githubLbl github";
}
.githubLbl{
	grid-area: githubLbl;
}
.github{
	grid-area: github;
}
.contactblock3{
	grid-area: contactblock3;
	grid-template-areas: "instagramLbl instagram";
}
.instagramLbl{
	grid-area: instagramLbl;
}
.instagram{
	grid-area: instagram;
}
.contactblock4{
	grid-area: contactblock4;
	grid-template-areas: "mainLinkLbl mainLink";
}
.mainLinkLbl{
	grid-area: mainLinkLbl;
}
.mainLink{
	grid-area: mainLink;
}
.contactblock5{
	grid-area: contactblock5;
	grid-template-areas: "twitterLbl twitter";
}
.twitterLbl{
	grid-area: twitterLbl;
}
.twitter{
	grid-area: twitter;
}
.contactblock6{
	grid-area: contactblock6;
	grid-template-areas: "vkLbl vk";
}
.vkLbl{
	grid-area: vkLbl;
}
.vk{
	grid-area: vk;
}
.contactblock7{
	grid-area: contactblock7;
	grid-template-areas: "websiteLbl website";
}
.websiteLbl{
	grid-area: websiteLbl;
}
.website{
	grid-area: website;
}
.contactblock8{
	grid-area: contactblock8;
	grid-template-areas: "youtubeLbl youtube";
}
.youtubeLbl{
	grid-area: youtubeLbl;
}
.youtube{
	grid-area: youtube;
}
/** =================================================================== */
.block3 {
	grid-area: block3;
	align-items: center;
	display: grid;
	grid-gap: 10px;
	padding: 20px;
   min-width: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"imageBlock uploadContainer";
}
.imageBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: imageBlock;
	/* max-height: 400px; */
}
.avatarImg {
	border-radius: 50%;
	padding: 30px;
	max-height: 300px;
	max-width: 100%;
	object-fit: contain;
	transition: all 0.5s ease 0s;
}
.avatarImg:hover {
	cursor: pointer;
	padding: 0;
}
.uploadContainer {
	min-height: 300px;
	grid-area: uploadContainer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	outline: 2px dashed #fff;
	outline-offset: -12px;
	background-color: brown;
	color: #1f3c44;
}
.uploadImg {
	padding: 5px 15px;
	max-height: 180px;
	max-width: 100%;
	user-select: none;
}
.uploadContainer div {
	position: relative;
	z-index: 10;
}
.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}
.fileInput:focus + .fileBtn {
	outline: 1px solid #0078d7;
	outline: -webkit-focus-ring-color auto 5px;
}
.fileBtn {
	padding: 3px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
.fileBtn:hover {
	text-decoration: underline;
}
/** =================================================================== */
.buttonsBlock{
	grid-area: buttons;
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	grid-template-columns: max-content max-content;
	grid-template-rows: 1fr;
	grid-template-areas: "editBtn submitBtn";
}
.editBtn{
	grid-area: editBtn;
}
.submitBtn{
	grid-area: submitBtn;
}
.error1Block {
	grid-area: blockErr1;
	text-align: left;
	font-size: 20px;
	font-style: italic;
	color: #fff;
	letter-spacing: 2px;
	border-radius: 10px;
	padding: 20px;
	min-width: 80%;
}
.error2Block{
	grid-area: blockErr2;
	text-align: left;
	font-size: 20px;
	font-style: italic;
	color: #fff;
	letter-spacing: 2px;
	border-radius: 10px;
	padding: 20px;
	min-width: 80%;
}
/** =================================================================== */
.form {
	width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content min-content minmax(40px, min-content ) minmax(40px, min-content ) 1fr;
	grid-template-areas: 
			"block1"
			"block2"
			"block3"
			"blockErr1"
			"blockErr2"
			"buttons";
}
/** =================================================================== */
@media (min-width: 1200px) {
	.block1, .block2, .block3{
		min-width: 70%;
	}
}
@media (max-width: 700px) {
	.block1, .block2, .block3{
		padding: 10px;
	}
	.blockTitle {
		font-size: 30px;
		margin: 0;
	}
	.label {
		font-size: 14px;
	}
	span.label {
		font-size: 12px;
	}
	.block3 {
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content;
		grid-gap: 0px;
		grid-template-areas:
		"imageBlock"
		"uploadContainer";
	}
	.contactblock1,.contactblock2,.contactblock3,.contactblock4,
	.contactblock5,.contactblock6,.contactblock7,.contactblock8 {
		grid-gap: 5px;
		grid-template-columns: 120px 1fr;
	}
	.informblock1, .informblock2, .informblock3, .informblock4{
		grid-gap: 5px;
		grid-template-columns: 120px 1fr;
	}
	.uploadImg {
		padding: 10px;
		max-height: 100px;
		user-select: none;
	}
	.uploadContainer {
		justify-self: center;
		min-height: 200px;
		width: 200px;
	}
}
@media (max-width: 380px) {
	.contactblock1,.contactblock2,.contactblock3,.contactblock4,
	.contactblock5,.contactblock6,.contactblock7,.contactblock8,
	.informblock1, .informblock2, .informblock3, .informblock4 {
		grid-template-columns: 100px 1fr;
	}
}
/** =================================================================== */