.content {
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 8fr;
	grid-template-rows: 50px 150px 1fr;
	grid-template-areas: 
		"title title"
		"sendscreen sendscreen"
		"dialogs messages"
		;
	height: 100%;
	background-color: #000;
}

.title {
	color: #fff;
	text-align: center;
	grid-area: title;
	background-color: #db6363;
}
.dialogs_list {
	overflow: auto;
	grid-area: dialogs;
	background-color: #db6363;
	padding: 10px;
}
.messages_list {
	padding: 10px;
	background-color: #db6363;
	grid-area: messages;
}

.dialogs_list, .messages_list {
	grid-gap: 10px;
	display: grid;
	grid-auto-rows: min-content;	
}
.sendscreen {
	display: grid;
	grid-row-gap: 10px;
	background-color: #000;
	grid-area: sendscreen;
	padding-bottom: 10px;
}
.textarea {
	justify-self: center;
}
.btn {
	justify-self: center;
}

@media (max-width: 700px) {
	.content {
		grid-template-columns: 1fr;
		grid-template-rows: 50px  1fr  2fr 150px ;
		grid-template-areas: 
			"title"
			"dialogs"
			"messages"
			"sendscreen";
	}
}