.content {
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 8fr;
	grid-template-rows: 50px min-content 1fr;
	grid-template-areas: 
		"title title"
		"sendscreen sendscreen"
		"dialogs messages"
		;
	height: 100%;
	background-color: #000;
}

.title {
	color: #fff;
	text-align: center;
	grid-area: title;
	background-color: brown;
}
.dialogs_list {
	overflow: auto;
	grid-area: dialogs;
	background-color: brown;
	padding: 10px;
}
.messages_list {
	padding: 10px;
	background-color: brown;
	grid-area: messages;
}

.dialogs_list, .messages_list {
	grid-gap: 10px;
	display: grid;
	grid-auto-rows: min-content;	
}
.sendscreen {
	grid-area: sendscreen;
	padding: 0;
	background-color: #000;
}
.messageForm {
	padding: 10px 10px 20px 10px;
	width: 100%;
	display: grid;
	grid-auto-flow: row;
	border-radius: 10px;
	border: thick solid brown;
	/* box-shadow: 1px 1px 0 brown inset, -1px -1px 0 brown inset; */
	align-items: center;
	grid-gap: 20px;
	grid-template-rows: 20px 1fr 30px;
	grid-template-columns: 1fr;
	grid-template-areas:
	"messageErr" 
	"messInput" 
	"sendBtn";
}
.messageErr {
	grid-area: messageErr;
	min-height: 20px;
	justify-self: center;
}
.messageInput {
	grid-area: messInput;
	justify-self: center;
	width: 80%;
}
.sendBtn {
	grid-area: sendBtn;
	justify-self: center;
}

@media (max-width: 700px) {
	.content {
		grid-template-columns: 1fr;
		grid-template-rows: min-content  1fr  2fr min-content ;
		grid-template-areas: 
			"title"
			"dialogs"
			"messages"
			"sendscreen";
	}
}