.header{
	background-color: #000;
	padding: 0px 15px;
}
.header__container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px;
	grid-template-areas: 
	"leftblock  rightBlock";
}
/** ====================================================== */
.menu {
	display: none;
	grid-area: mainmenu;
	align-self: center;
	justify-self: end;
}
/** ====================================================== */
.leftBlock {
	display: grid;
	grid-area: leftblock;
	align-items: center;
	grid-template-columns: 60px 1fr;
	grid-template-areas: "img title";
	white-space: nowrap;
}
.img {
	z-index: 5;
	grid-area: img;
   height: 50px;
 }
 .title {
	z-index: 5;
	grid-area: title;
	color: #fff;
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 2px;
	font-style: italic;
	margin: 0;
 }
 /** ====================================================== */
.rightBlock {
	display: grid;
	grid-area: rightBlock;
	align-items: center;
	white-space: nowrap;
}
.login {
	display: grid;
	grid-gap: 10px;
	justify-content: end;
	grid-template-columns: max-content max-content;
	grid-template-areas: 
	"nick logOutBtn";
}
.loginString {
	color: #fff;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 2px;
	font-style: italic;
	grid-area: nick;
	margin: 0px 10px 0px 0px;
}
.logoutBtn {
	grid-area: logOutBtn;
	letter-spacing: 2px;
}

.login1 {
	display: grid;
	justify-content: end;
	grid-template-columns: min-content;
	grid-template-areas: 
	"link";
}

.desact_link, .act_link {
	grid-area: link;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
	padding: 8px;
	display: inline-block;
}
.desact_link {
	text-decoration: none;
}
.act_link {
	color: #d0ecb7;
}
.desact_link:hover, .act_link:hover{
	background: linear-gradient(180deg, #000, #ec0e97, #000);
	border-radius: 10px;
}
/** ====================================================== */
@media (max-width: 950px) {
	.header__container {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: min-content 1fr;
		grid-template-rows: 70px;
		grid-template-areas: 
		"leftblock  mainmenu";
	}
	.rightBlock {
		display: none;
	}
	.menu {
		display: block;
	}
	.title {
		font-weight: 400;
		font-size: 24px;
		letter-spacing: 0px;
	 }
}
