.header{
   grid-template-columns: repeat(2, auto);
   justify-content: start;
}
.img {
   height: 50px;
 }

 @media (max-width: 350px) {
	 .header {
		 min-width: 250px;
	 }
	.img {
		height: 40px;
	 }
	 h1 {
	 font-size: 25px;
 }
 }
 