.nav {
	position: relative;
	z-index: 5;
	display: grid;
	border-radius: 5px;
	padding: 10px ;
	grid-gap: 10px;
	background: #000;
	grid-auto-rows: 50px;
	align-items:stretch;
	justify-items: center;
	display: none;
 }
 .item {
	padding: 5px;
 }
 .link, .active_link {
	font-family: 'Kaushan Script';
	padding: 8px;
	display: inline-block;
	font-size: 22px;
	letter-spacing: 2px;
}
.link {
	color: #fff;
	text-decoration: none;
 }
 .active_link {
	 color: #d0ecb7;
	}
	.link:hover, .active_link:hover{
	 text-decoration: underline;
 }

@media (max-width: 1000px) {
	.nav {
		display: none;
	}
}