.nav {
	background: rgb(8, 1, 1);
	grid-auto-rows: 50px;
 }
 .item {
	padding: 5px;
	align-self: center;
	justify-self: stretch;
 }
 .link, .active_link {
	font-weight: 600;
	padding: 8px;
	display: inline-block;
	font-size: 22px;
}
.link {
	color: #fff;
	text-decoration: none;
 }
 .active_link {
	 color: #d0ecb7;
	 text-decoration: underline;
 }
 .link:hover, .active_link:hover{
	background: linear-gradient(180deg, #000, #ec0e97, #000);
	border-radius: 10px;
 }

@media (max-width: 1000px) {
	.nav {
		display: none;
	}
}