.contant {
	height: 100%;
	padding: 10px;
	background-color: #000;
	text-align: center;
	color: #fff;
	font-size: 50px;
	font-style: italic;
}
.title {
	margin-bottom: 20px;
	font-size: 70px;
}
.subtitle {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}
.pSizeInput, .pInBlockInput {
	height: 30px;
	width: 250px;
	padding: 5px;
}
/* .paginatorSettingsForm {} */

.fieldset {
	display: grid;
	grid-gap: 25px;
	padding: 20px 20px 30px;
	max-width: 100px;
	grid-template-columns: max-content;
	grid-template-rows: repeat(min-content) ;
	grid-template-areas: 
	"block1"
	"block2"
	"block3";
}
.block1, .block2 {
	display: grid;
	align-items: center;
	grid-template-columns: 120px 1fr;
	grid-template-rows: 1fr 20px;
}
.block1 {
	grid-area: block1;
	grid-template-areas: 
		"pSizeInput pSizeLbl"
		"pSizeErr pSizeErr";
}
.block2 {
	grid-area: block2;
	grid-template-areas: 
		"pInBlockInput pInBlockLbl"
		"pInBlockErr pInBlockErr";
}
.block3 {
	grid-area: block3;
}
.pSizeLbl, .pInBlockLbl{
	justify-self: start;
	font-weight: 700;
	font-size: 20px;
	padding: 5px;
}
.pSizeInput, .pInBlockInput {
	justify-self: center;
	text-align: center;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	width: 80px;
}
.pSizeLbl {
	grid-area: pSizeLbl;
}
.pSizeInput {
	grid-area: pSizeInput;
}
.pSizeErr{
	grid-area: pSizeErr;
}
.pInBlockLbl {
	grid-area: pInBlockLbl;
}
.pInBlockInput {
	grid-area: pInBlockInput;
}
.pInBlockErr {
	grid-area: pInBlockErr;
}