.container {
	display: grid;
	min-height: 100%;
	padding: 0px 5px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr ;
	grid-template-areas: 
	"itemsContainer";
}
.noMessages {
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

.itemsContainer {
	max-width: 700px;
	padding: 10px 20px;
	grid-area: itemsContainer;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
}

.messagesEndRef {
	height: 44px;
}

.formContainer {
	padding: 0px;
	background-color: #fff;
	position: fixed;
	bottom:0px;
	left: 0;
	width: 100%;
}

.message_item, .message_itemIn {
	position: relative;
	min-width: 90%;
	text-align: center;
	padding: 5px 10px;
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows: min-content min-content min-content;
}

.message_item {
	justify-self: end;
	border-radius: 20px 20px 0px 20px;
	background-color: rgba(71, 227, 71, 0.35);
	grid-template-areas: 
	"Messtext"
	"Messtime"
	"from";
}

.message_itemIn {
	justify-self: start;
	border-radius: 0px 20px 20px 20px;
	background-color: rgba(240, 217, 12, 0.35);
	grid-template-areas: 
	"from"
	"Messtime"
	"Messtext ";
}
.sendFrom {
	font-size: 18px;
	grid-area: from;
	font-weight: 700;
}
.sendFrom span{
	font-size: 16px;
	font-weight: normal;
}
.messageText {
	font-family: 'arial';
	grid-area: Messtext;
}
.messageTimeDataContainer {
	padding: 0 10px;
	text-align: left;
	grid-area: Messtime;
	font-size: 12px;
	font-weight: 700;
}
.message_itemIn::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: -20px;
	border-top: 20px solid rgba(240, 217, 12, 0.35);
	border-left: 20px solid transparent;
}
.message_item::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: -20px;
	border-bottom: 20px solid rgba(71, 227, 71, 0.35);
	border-right: 20px solid transparent;
}
.message_itemIn .sendFrom, .message_itemIn .messageTimeDataContainer {
	justify-self: start;
}
.message_item .sendFrom, .message_item .messageTimeDataContainer {
	justify-self: end;
}
@media (max-width: 767px) {
	.itemsContainer {
		padding: 10px 20px 5px;
		grid-gap: 10px;
	}
}