* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  padding: 1vh;
 
}
/**--------------------------------------*/
.designe {
  border-radius: 5px;
  padding: 5px;
  background-color: #db6363;
}
.grid {
  display: grid;
  grid-gap: 10px;
}
.button {
	background: linear-gradient(180deg, #000, #ec0e97, #000);
	color: #fff;
	border-radius: 5px;
	box-shadow: rgb(161, 135, 135) 1px 1px 2px 2px;
	cursor: pointer;
	font-size: 16px;
	height: 32px;
	padding: 5px 15px;
}
.button:hover {
	box-shadow: #50234e 2px 2px 3px 3px;
}
.input {
	border: 1px solid #000;
	resize: none;
	font-size: 20px;
	height: 100px;
	width: 60%;
	padding: 5px;
	border-radius: 10px;
}


/**------------------------------- */

.header {
  grid-area: header;
}
.navigator {
  grid-area: nav;
}
.top-image {
  grid-area: topimage;
}
.footer {
  grid-area: footer;
}
.outletcontainer {
	border-radius: 5px;
	grid-area: outlet;
}
.app-wrapper {
  min-height: 98vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 250px 1fr auto;
  grid-template-areas:
    "header header"
    "nav topimage"
    "nav outlet"
    "footer footer";
}

/**-----------------------------------------------*/
@media (max-width: 1300px) {
  .app-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 250px 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "topimage"
      "outlet"
      "footer";
  }
}
@media (max-width: 350px) {
	.app-wrapper {
		grid-template-rows: auto auto 250px 1fr auto;
	}

}

