*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
}
ol, ul, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: inherit;
	font-size: inherit;
}
h3 {
	/* font-family: 'Kaushan Script', cursive; */
	font-family: 'Permanent Marker', cursive;
	font-style: italic;
	font-size: 30px;
	letter-spacing: 3px;
}

html, body {
	min-height: 100%;
}

body._lock {
	overflow: hidden;
}
/**---------------- СТРУКТУРА ----------------------*/
.app-wrapper {
	display: grid;
	min-height: 100vh;
	grid-gap: 2px;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr auto;
	grid-template-areas:
	  "header"
	  "mainContainer"
	  "footer";
 }
 /**------------- СТРУКТУРА ------------------------------------------------- */
 /* !==================== width: 100 vw ======================================= */
.header {
	grid-area: header;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.header__container {
	margin: 0 auto;
	max-width: 1300px;
}

.mainContainer{
	grid-area: mainContainer;
	justify-self: center;
	padding: 0 3px;
	width: 1300px;
	display: grid;
	grid-gap: 2px;
	grid-template-rows: 235px 1fr;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 
	"topimage topimage"
	"nav outlet";
}
.navigator {
  grid-area: nav;
}
.top-image {
  grid-area: topimage;
}
.outletcontainer {
	border-radius: 5px;
	grid-area: outlet;
}

.footer {
  grid-area: footer;
}
/**---------------- СТРУКТУРА ----------------------*/

/**----------------ОБЩИЕ CSS СТИЛИ----------------------*/
fieldset {
	margin: 0 auto;
	max-width: 500px;
	border: 1px solid #fff;
	border-radius: 10px;
}
fieldset:not(:last-child) {
	margin-bottom: 20px;
}
legend {
	font-family: monospace;
	letter-spacing: 2px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	text-align: left;
	margin-left: 30px;
	padding: 0 10px;
}

/**----------------стиль для компоненты логин----------------------*/
.err {
	animation: err .8s ease;
}
@keyframes err {
	0% {transform: translate(0px, 0px)}
	33% {transform: translate(-20px, 0px)}
	66% {transform: translate(20px, 0px)}
	100% {transform: translate(0px, 0px)}
}
/** ------------------------------------------------------------------ */
.error {
	min-height: 30px;
	padding: 8px 10px;
	font-size: 14px;
	color: red;
	font-style: italic;
	font-weight: 700;
}
.designe {
  border-radius: 5px;
  padding: 5px;
}

.input {
	border: 1px solid #000;
	resize: none;
	font-size: 20px;
	height: 100px;
	width: 60%;
	padding: 5px;
	border-radius: 10px;
}
.button {
	font-family: 'Kaushan Script';
	font-size: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	padding: 5px 10px;
	min-width: 105px;
	box-shadow: 3px 4px  #999;
	height: auto;
	border-radius: 20px;
	margin: auto;
	outline: none;
	background-color: #ffe;
}
.button:active {
	transform: translate(1px, 2px);
	box-shadow: 2px 2px #669;
}
.button:hover {
	background-color: #eff;

  }
  .button:disabled, .button:disabled:hover,
  .button:disabled:active {
	color: #aaa;
	background-color: #eee;
	box-shadow: 3px 4px  #999;
	transform: translate(0px, 0px);
  }

/**-----------------------------------------------*/
@media (max-width: 1300px) {
	.mainContainer{
		width: 100%;
		justify-self: stretch;
	}
}
@media (max-width: 1000px) {
	.mainContainer{
		grid-template-rows: 200px 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"topimage"
		"outlet";
	}
}
@media (max-width: 767px) {
	h3 {
		font-size: 22px;
	}
}
/**----------------MENU BURGER--------------- */
.menu__body{
	display: none;
}
.menu__list {
	display: grid;
	grid-gap: 5px;
}
.menu__list li {
	list-style: none;
}
.menu__burger {
	display: none;
}
/**-------------------MENU BURGER----------------------------*/

@media (max-width: 1000px) {
	.menu__body{
		display: block;
	}
	.menu__burger {
		z-index: 5;
		display: block;
		position: relative;
		width: 45px;
		height: 30px;
		cursor: pointer;
	}
	.menu__burger::before,
	.menu__burger::after,
	.menu__burger_span  {
		left: 0;
		position: absolute;
		height: 12%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
		pointer-events: none;
	}
	.menu__burger::before,
	.menu__burger::after {
		content: "";
	}
	.menu__burger::before{
		top: 0;
	}
	.menu__burger::after {
		bottom: 0;
	}
	.menu__burger_span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__burger._active span {
		transform: scale(0);
	}
	.menu__burger._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}
	.menu__burger._active::after {
		top: 50%;
		transform: rotate(45deg) translate(0, -50%);
	}
	.menu__body{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body::before{
		content: "";
		box-shadow: inset 0 0 10px #fff;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #000;
		z-index: 2;
	}
	
	.menu__list li {
		margin: 0px 0px  25px 0px;
	}
	.menu__list li:last-child {
		margin-bottom: 0;
	}
	.menu__list li a{
		font-size: 24px;
	}
}
@media (max-width: 450px) {
	.header {
		width: 100vw;
	}
	.menu__burger {
		width: 30px;
		height: 22px;
	}
	.menu__list li a{
		font-size: 20px;
	}
	legend {
		font-size: 12px;
	}
}
/**-------------------MENU BURGER----------------------------*/