* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  padding: 1vh;
 
}
/**----------------ОБЩИЕ CSS СТИЛИ----------------------*/
fieldset {
	margin: 0 auto;
	max-width: 500px;
	border: 1px solid #fff;
	border-radius: 10px;
}
fieldset:not(:last-child) {
	margin-bottom: 20px;
}
legend {
	font-family: monospace;
	letter-spacing: 2px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	text-align: left;
	margin-left: 30px;
	padding: 0 10px;
}

/**----------------стиль для компоненты логин----------------------*/
.err {
	animation: err .8s ease;
}
@keyframes err {
	0% {transform: translate(0px, 0px)}
	33% {transform: translate(-20px, 0px)}
	66% {transform: translate(20px, 0px)}
	100% {transform: translate(0px, 0px)}
}
/** ------------------------------------------------------------------ */
.error {
	min-height: 30px;
	padding: 8px 10px;
	font-size: 14px;
	color: red;
	font-style: italic;
	font-weight: 700;
}
.designe {
  border-radius: 5px;
  padding: 5px;
  background-color: brown;
}
.grid {
  display: grid;
  grid-gap: 10px;
}

.input {
	border: 1px solid #000;
	resize: none;
	font-size: 20px;
	height: 100px;
	width: 60%;
	padding: 5px;
	border-radius: 10px;
}
.button{
	position: relative;
	cursor: pointer;
	color: rgb(81, 66, 66);
	padding: 5px 10px;
	min-width: 100px;
	box-shadow: -1px 1px 3px 1px #aaa;
	height: 32px;
	border-radius: 10px;
	margin:0px auto;
	display: block;
	background-image: linear-gradient(to left,transparent,transparent 50%,bisque 50%,#fff );
	background-position: 100% 0;
	background-size: 200% 100%;
	transition: all .3s ease-in;
	font: 700 16px tahoma; 
}
.button:active {
	top: 1px;
	left: -1px;
}
.button:hover {
	box-shadow: -2px 2px 20px 3px #eee;
	background-position: 0 0;
	color:#000;
  }
  .button:disabled {
	background: #aaa;
	box-shadow: none;
	position: static;
	color:#000;
  }
/**------------------------------- */
.header {
  grid-area: header;
}
.navigator {
  grid-area: nav;
}
.top-image {
  grid-area: topimage;
}
.footer {
  grid-area: footer;
}
.outletcontainer {
	border-radius: 5px;
	grid-area: outlet;
}
.app-wrapper {
  min-height: 98vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 75px 235px 1fr auto;
  grid-template-areas:
    "header header"
    "nav topimage"
    "nav outlet"
    "footer footer";
}
/**-----------------------------------------------*/
@media (max-width: 1300px) {
  .app-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 235px 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "topimage"
      "outlet"
      "footer";
  }
}
@media (max-width: 600px) {
	.app-wrapper {
		grid-template-rows: auto auto 235px 1fr auto;
	 }
}
