.content {
	display: grid;
	grid-gap: 10px;
	padding: 10px 10px 20px;
	height: 100%;
	background-color: #000;
	text-align: center;
	color: #fff;
	grid-template-columns: 1fr;
	grid-template-rows: 40px max-content max-content;
	grid-template-areas: 
	"title"
	"paginator"
	"items";
}
.title {
	font-size: 28px;
	grid-area: title;
}
.paginator {
	grid-area: paginator;
}
.items {
	grid-area: items;
	display: grid;
	grid-gap: 10px;
}
/** ====================================================================== */
.userswrapper {
	background-color: #222;
	padding: 0px 10px;
	border-radius: 10px;
	display: grid;
	color: #000;
	grid-column-gap: 10px;
	font-size: 18px;
	grid-template-columns:  100px 1fr 130px;
	grid-template-areas: 
		"avatar info followBtn";
}
.avatar {
	box-shadow: -2px 2px 10px 3px #eee;
	grid-area: avatar;
	align-self: center;
	justify-self: center;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transition: all 0.3s ease 0s;
}
.avatar:hover {
	height: 90px;
	width: 90px;
}
.btnCont {
	grid-area: followBtn;
	border-radius: 10px;
	background-color: #bbb;
	color: #999;
	align-self: end;
	max-width: 150px;
	height: 40px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 700;
	align-self: center;
}
.followBtn{
	border-radius: 10px;
	height: 100%;
	min-width: 120px;	
}
.followBtn:disabled, .prevbtn:disabled, .nextbtn:disabled {
	background: #555;
	color: #999;
	box-shadow: none;
}
.wrap{
	padding: 0px 10px;
	width: 100%;
	display: grid;
	grid-template-columns: max-content min-content;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	grid-template-areas: 
		"textus lockimg";
}
.textus {
	grid-area: textus;
}
.lockedBtn {
	grid-area: lockimg;
	margin-left: 10px;
	padding: 2px 0px 1px 0px;
	height: 22px;
	width: 22px;
	background: url(../../assets//images/lockBtn.png)no-repeat ;
	background-size:  100% ;
}
.avatar img {
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.info_act, .info_disact{
	text-align: left;
	display: grid;
	grid-gap: 5px;
	border-left: #000 10px solid;
	border-right: #000 10px solid;
	grid-area: info;
	min-width: 350px;
	padding: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(25px);
	grid-template-areas: 
		"fullname"
		"status"
		"itemID";
}
.info_act {
	background-color: #bff3b9;
}
.info_disact {
	background-color: #222;
	color: #aaa;
}

.info_disact .itemName {
	color: red;
}
.info_act .itemName {
	color: green;
}
.my {
	padding: 20px;
	color: #fff;
	background-color:  #000 ;
	box-shadow: inset 0px 0px 30px 0px  #fff;
}
.my .itemName {
	color: orange;
}
.my .status {
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
}

.status, .fullname, .itemID {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: repeat(max-content);
	grid-template-areas: "itemName itemText";
}
.status{
	font-size: 14px;
	grid-area: status;
}
.fullname {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	grid-area: fullname;
}
.itemI {
	grid-area: itemID;
}
.itemName {
	grid-area: itemName;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	padding-right: 10px;
}
.itemText {
	grid-area: itemText;
}