.content {
	padding: 10px;
	padding-bottom: 20px;
	height: 100%;
	background-color: #000;
	text-align: center;
	font-size: 28px;
	color: #fff;
}
.content h4:not(:last-child) {
	margin-bottom: 20px;
}
.userswrapper, .userswrapper1 {
	background-color: #222;
	padding: 0px 10px;
	border-radius: 10px;
	display: grid;
	color: #000;
	grid-column-gap: 10px;
	font-size: 18px;
	height: 100px;
	grid-template-columns:  100px 1fr 130px;
	grid-template-areas: 
		"avatar info followBtn";
}

.avatar {
	box-shadow: -2px 2px 10px 3px #eee;
	grid-area: avatar;
	align-self: center;
	justify-self: center;
	height: 90px;
	width: 90px;
	/* background-color: #000; */
	border-radius: 50%;

}
.avatar:hover {
	box-shadow: -2px 2px 5px 3px #eee;
}

.btnCont {
	grid-area: followBtn;
	border-radius: 10px;
	background-color: #bbb;
	color: #999;
	align-self: end;
	max-width: 150px;
	height: 40px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 700;
	align-self: center;
}


.followBtn{
	border-radius: 10px;
	height: 100%;
	min-width: 120px;	
}
.followBtn:disabled, .prevbtn:disabled, .nextbtn:disabled {
	background: #555;
	color: #999;
	box-shadow: none;
}
.wrap{
	padding: 0px 10px;
	width: 100%;
	display: grid;
	grid-template-columns: max-content min-content;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	grid-template-areas: 
		"textus lockimg";
}
.textus {
	grid-area: textus;
}

.lockedBtn {
	grid-area: lockimg;
	margin-left: 10px;
	padding: 2px 0px 1px 0px;
	height: 22px;
	width: 22px;
	background: url(../../assets//images/lockBtn.png)no-repeat ;
	background-size:  100% ;
}

.avatar img {
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.info_act, .info_disact{
	background-color: #bff3b9;
	border-left: #000 10px solid;
	border-right: #000 10px solid;
	grid-area: info;
	display: grid;
	min-width: 350px;
	padding: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"fullname country"
		"status city";
}
.info_disact {
	background-color: #222;
	color: #aaa;
}
.my {
	color: #000;
	background-color:  #b6e9e1 ;
}
.my .status {
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
}

.fullname {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	grid-area: fullname;
	justify-self: start;
}
.city{
	grid-area: city;
	justify-self: end;
	align-self: end;
}
.country{
	grid-area: country;
	justify-self: end;
}
.status{
	font-size: 14px;
	grid-area: status;
	justify-self: start;
	align-self: end;
}
.item {
	display: grid;
	grid-gap: 10px;
}

.selectedPage {
	color: #e22020;
	font-weight: 700;
}
.pageNum {
	font-size: 24px;
	color: #74e059;
	font-weight: 400;
}
.pages {
	grid-area: pages;
}
.pages:not(:last-child) {
	margin-bottom: 10px;
}
.selectedPage:not(:last-child), .pageNum:not(:last-child) {
	margin-right: 10px;
}
.selectedPage, .pageNum {
	cursor: pointer;
}


.left_arr, .right_arr {
	background: #000;
	color: #e22020;
	font-size: 26px;
	font-weight: 800;
	cursor: pointer;
	letter-spacing: 5px;
	padding-right: 10px;
}
.left_arr:disabled, .right_arr:disabled {
	color: #443d3d;
	cursor: auto;
}


.buttons_block {
	padding: 25px 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 150px;
	grid-gap: 20px;
	justify-content:center;
}

