.content {
	display: grid;
	grid-gap: 10px;
	padding: 10px 10px 20px;
	height: 100%;
	background-color: #000;
	text-align: center;
	color: #fff;
	grid-template-columns: 1fr;
	grid-template-rows: 40px max-content max-content;
	grid-template-areas: 
	"title"
	"paginator"
	"items";
}
.title {
	font-size: 28px;
	grid-area: title;
}
.paginator {
	grid-area: paginator;
}
.items {
	grid-area: items;
	display: grid;
	grid-gap: 10px;
}