.paginator {
	display: inline-block;
	font-size: 24px;
}
.buttons_block {
	margin: 0 auto;
	max-width: 400px;
	padding: 5px 15px 20px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	justify-content:center;
	grid-template-areas: "prev next";
}
.prevbtn {
grid-area: prev;
}
.nextbtn {
grid-area: next;
}
.pages {
	min-width: 250px;
}

.selectedPage, .pageNum {
	cursor: pointer;
	margin-right: 10px;
}
.selectedPage {
	color: #e22020;
	font-weight: 700;
}
.pageNum {
	color: #74e059;
	font-weight: 400;
}
.pages:not(:last-child) {
	margin-bottom: 10px;
}

.left_arr{
	margin-right: 10px;
}
.right_arr {
	margin-left: 10px;
}
.left_arr, .right_arr {
	background: #000;
	color: #e22020;
	font-size: 26px;
	font-weight: 800;
	cursor: pointer;
	letter-spacing: 5px;
}
.left_arr:disabled, .right_arr:disabled {
	color: #443d3d;
	cursor: auto;
}
@media (max-width: 767px) {
	.selectedPage, .pageNum {
		font-size: 18px;
		margin: 0px 8px 0px 0px;
	}
	.left_arr, .right_arr {
		font-size: 18px;
		letter-spacing: 2px;
	}
	.buttons_block {
		padding: 10px 5px 20px;
		grid-gap: 10px;
	}
	.prevbtn, .nextbtn {
		font-size: 15px;
		padding: 5px;
	}
}
@media (max-width: 350px) {
	.selectedPage, .pageNum {
		font-size: 14px;
		margin: 0px 5px 0px 0px;
		
	}
	.left_arr, .right_arr {
		font-size: 14px;
		letter-spacing: 0px;
	}
	.prevbtn, .nextbtn {
		font-size: 14px;
		padding: 5px;
		min-width: 80px;
	}
}